@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Nunito';

}
.navbar{
    width: 100%;
    height: 6rem;
    background: rgb(69, 115, 164);
    
}
.nav-logo {
    display: flex;
}
.nav-logo img{
    width:10px;
    height: 20px;
}
.nav-logo ul{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin:1% 0 0 45%;    
    font-size: 18px;
    font-weight: 700;
    color: white;

}
.nav-logo ul li{
    padding-right: 2rem;
    text-decoration: none;
}
.cart-nav{
    text-decoration: none;
    color: white;
    padding: .7rem 1rem;
}
.location{
    color: white;
    text-decoration: none;
    padding: .7rem 1rem;

}
.logout{
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(69, 115, 164);
    padding: .7rem 1rem;
}
.active {
    border-radius: 12px;
    background-color: aliceblue;
    color: rgb(69, 115, 164);
}
.nav-logo img{
    width: 150px;
    height: 60px;
    padding: 1% 0 0 5%;
}
